package page;

import "github.com/SegfaultSommeliers/sosilol/view/layout"

templ Paste(Code string) {
    @layout.BaseLayout() {
        <div class="default-section code-view">{ Code }</div>
        <script>
            const codeview = document.querySelector(".code-view");
            codeview.innerHTML = hljs.highlightAuto(codeview.innerText).value
        </script>
    }
}